label {
  cursor: pointer;
}
.checkbox {
  &--single {
    .checkbox-icon {
      border-radius: 100%;
    }
  }
  &--multiple {
    .checkbox-icon {
      border-radius: 5px;
    }
  }
  input {
    display: none;

    &:checked {
      & + label {
        .checkbox-icon {
          background: #BFBFBF;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &-icon {
    width: 18px;
    height: 18px;
    border: 2px solid #B3B3B3;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    &:after {
      content: url('../images/icons/checkbox.svg');
      width: 10px;
      opacity: 0;
    }
  }
}
.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: #4BBDFD;
  border-radius: 5px;
  -webkit-appearance: none;
  padding: 10px 30px;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;

  &-disabled {
    background-color: #fff;
    color: #4BBDFD;
    border: 1px solid #4BBDFD;
  }
}
textarea {
  resize: none;
  border: 2px solid #B3B3B3;
  border-radius: 5px;
}
